@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: "#FFF";
  background-color: "#FFF" !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.carouselBtn button {
  background: #010886 !important;
}

@media screen and (max-width: 800px) {
  .ant-steps {
    display: none !important;
  }
}
.mobile-hidden {
  display: none !important;
}
@media (min-width: 768px) {
  .mobile-hidden {
    display: block !important;
  }
}

.ant-menu-title-content {
  height: fit-content !important;
}

.noscroll-bar::-webkit-scrollbar {
  display: none;
}

.noscroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




